<!DOCTYPE html>
<html>
	<head>
		<title>视觉元素</title>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="../static/css/admin/third.css" />
		<link type="text/css" rel="stylesheet" href="../static/css/admin/category.css" />
		<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/public/jplugins/jquery.cookie.js"></script>
		<script type="text/javascript" src="../static/js/admin/category.js"></script>
	</head>

	<body style="padding-top:1px">
		<ul class="dir_tree" id="dir_tree">
			<li id="tog_all">
				&nbsp;
			</li>
			<li class="title">
				栏目结构
			</li>
			<li>
				<span>
					<a href="#">一级频道A</a>
					<i class="on_off on" status = 1>&nbsp;</i>
					<i class="icon folder_on" status = 1>&nbsp;</i>
				</span>
				<ul>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul>
							<li>
								<span>
									<a href="#">三级频道C</a>
									<i class="on_off on" status = 1>&nbsp;</i>
									<i class="icon folder_on" status = 1>&nbsp;</i>
								</span>
								<ul> 
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
								</ul>
							</li>
							<li>
								<span>
									<a href="#">三级频道C</a>
									<i class="on_off on" status = 1>&nbsp;</i>
									<i class="icon folder_on" status = 1>&nbsp;</i>
								</span>
								<ul>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<span>
					<a href="#">一级频道A</a>
					<i class="on_off on" status = 1>&nbsp;</i>
					<i class="icon folder_on" status = 1>&nbsp;</i>
				</span>
				<ul>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul>
							<li>
								<span>
									<a href="#">三级频道C</a>
									<i class="on_off on" status = 1>&nbsp;</i>
									<i class="icon folder_on" status = 1>&nbsp;</i>
								</span>
								<ul> 
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
								</ul>
							</li>
							<li>
								<span>
									<a href="#">三级频道C</a>
									<i class="on_off on" status = 1>&nbsp;</i>
									<i class="icon folder_on" status = 1>&nbsp;</i>
								</span>
								<ul> 
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
									<li>
										<span>
											<a href="#">四级内容C</a>
											<i class="icon page">&nbsp;</i>
										</span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
					<li>
						<span>
							<a href="#">二级频道B</a>
							<i class="on_off on" status = 1>&nbsp;</i>
							<i class="icon folder_on" status = 1>&nbsp;</i>
						</span>
						<ul> 
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
							<li>
								<span>
									<a href="#">三级内容C</a>
									<i class="icon page">&nbsp;</i>
								</span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span><a href="#">站点地图</a></span></li>
		</ul>
	</body>
</html>
