<!DOCTYPE html>
<html class="demo">
<head>
<title>后台</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin.css" />
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<script type="text/javascript" src="../static/js/base.js"></script>
</head>

<body>
	<div class="main_menu">
		<div class="user">
			您好，Administrators!
			<i class="arrow"></i>
			<ul>
				<li><a href="#">修改密码</a></li>
				<li><a href="#">个人信息</a></li>
				<li><a href="#">帐号管理</a></li>
				<li><a href="#">删除帐号</a></li>
				<li><a href="#">更换帐号</a></li>
				<li><a href="#">注销登录</a></li>
			</ul>
		</div>
		<dl>
			<dt class="show">
				<a href="#">菜单名称</a>
				<i class="icon">&nbsp;</i>
			</dt>
			<dd class="show">
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li class="current"><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt>
				<a href="#">菜单名称</a>
				<i class="icon">&nbsp;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt>
				<a href="#">菜单名称</a>
				<i class="icon">&nbsp;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt>
				<a href="#">菜单名称</a>
				<i class="icon">&nbsp;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
		</dl>
		<div class="menu_onff">
			<span>
				.
				<br/>
				.
				</br>
				.
			</span>
		</div>
	</div>
	<div class="panle panle_top">
		<!--
		   -<div class="cur_position">
		   -    <a href="#">首页</a>
		   -    <i class="arrow"></i>
		   -    <a href="#">视频</a>
		   -    <i class="arrow"></i>
		   -    <a href="#">详情</a>
		   -</div>		
		   -->
	</div>
	<div class="workspace">
		
		<div class="panle panle_bottom">
			<span class="skin_btn" title="更换任务栏背景">&nbsp;</span>
			<ul class="taskbar">
				<li title="任务全称" class="current">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
			</ul>
			<div class="switch_workspace">
				<span title="工作区一" class="current">&nbsp;</span>
				<span title="工作区二">&nbsp;</span>
				<span title="工作区三">&nbsp;</span>
				<span title="工作区四">&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			<div class="test_cont">
				<iframe src="pop.html" style="height:500px;width:100%;border:none;overflow:hidden"></iframe>
			</div>
		</div>
	</div>
</body>
</html>
