<!DOCTYPE html>
<html class="demo">
<head>
<title>后台</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin.css" />
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<script type="text/javascript" src="../static/js/hotkeys.js"></script>
	<script type="text/javascript" src="../static/js/base.js"></script>
</head>

<body>
	<div class="main_menu">
		<div class="user">
			您好，Administrators!
			<i class="arrow"></i>
			<ul>
				<li><a href="#">修改密码</a></li>
				<li><a href="#">个人信息</a></li>
				<li><a href="#">帐号管理</a></li>
				<li><a href="#">删除帐号</a></li>
				<li><a href="#">更换帐号</a></li>
				<li><a href="#">注销登录</a></li>
			</ul>
		</div>
		<dl>
			<dt class="show">
				内容发布管理
				<i class="icon">&nbsp;</i>
			</dt>
			<dd class="show">
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li class="current"><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt>
				发布管理
				<i class="icon">&nbsp;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt>
				内容相关设置
				<i class="icon">&nbsp;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt>
				私募管理
				<i class="icon">&nbsp;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
		</dl>
		<div class="menu_onff">
			<span>
				.
				<br/>
				.
				</br>
				.
			</span>
		</div>
	</div>
	<div class="panle panle_top">
		<!--
		   -<div class="cur_position">
		   -    <a href="#">首页</a>
		   -    <i class="arrow"></i>
		   -    <a href="#">视频</a>
		   -    <i class="arrow"></i>
		   -    <a href="#">详情</a>
		   -</div>		
		   -->
		   <div class="abtn">
			   <i class="down"></i>
			   <i class="up"></i>
		   </div>
		   <nav class="nav">
				<a href="#" class="current">我的面板</a>
				<a href="#">设置</a>
				<a href="#">模块</a>
				<a href="#">内容</a>
				<a href="#">兼职</a>
				<a href="#">界面</a>
				<a href="#">扩展</a>
				<a href="#">phpsso</a>
				<a href="#">快速导入</a>
		   </nav>
	</div>
	<div class="workspace">
		
		<div class="panle panle_bottom">
			<span class="skin_btn" title="更换任务栏背景">&nbsp;</span>
			<ul class="taskbar">
				<li title="任务全称" class="current">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
			</ul>
			<div class="switch_workspace">
				<span title="工作区一 Alt+a" class="current">&nbsp;</span>
				<span title="工作区二 Alt+b">&nbsp;</span>
				<span title="工作区三 Alt+c">&nbsp;</span>
				<span title="工作区四 Alt+d">&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			<div class="pop">
				<div class="pop_title">
					<h2 class="pop_hd">标题</h2>
					<span class="pr pop_button">
						<a href="#" class="fullscreen" title="全屏"></a><a href="#" class="min" title="最小化"></a><a href="#" class="max" title="最大化"></a><a href="#" class="close" title="关闭"></a>
					</span>
				</div>
				<div class="pop_cont">
					<div class="pop_cont_t"></div>
					<div class="pop_cont_c">
						<p><input type="button" value="按 钮" class="btn" />
						<input type="text" value="请输入关键字" class="ipt" /></p><br />
						<table class="table">
							<thead>
								<tr>
									<th>标题标题</th>
									<th>标题标题</th>
									<th>标题标题</th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="even">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="even">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="even">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="even">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="even">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="even">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr class="odd">
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="workspace">
		
		<div class="panle panle_bottom">
			<span class="skin_btn" title="更换任务栏背景">&nbsp;</span>
			<ul class="taskbar">
				<li title="任务全称" class="current">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
			</ul>
			<div class="switch_workspace">
				<span title="工作区一 Alt+a">&nbsp;</span>
				<span title="工作区二 Alt+b" class="current">&nbsp;</span>
				<span title="工作区三 Alt+c">&nbsp;</span>
				<span title="工作区四 Alt+d">&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			<div class="test_cont">
				工作区二
			</div>
		</div>
	</div>
	<div class="workspace">
		
		<div class="panle panle_bottom">
			<span class="skin_btn" title="更换任务栏背景">&nbsp;</span>
			<ul class="taskbar">
				<li title="任务全称" class="current">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
			</ul>
			<div class="switch_workspace">
				<span title="工作区一 Alt+a">&nbsp;</span>
				<span title="工作区二 Alt+b">&nbsp;</span>
				<span title="工作区三 Alt+c" class="current">&nbsp;</span>
				<span title="工作区四 Alt+d">&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			<div class="test_cont">
				工作区三
			</div>
		</div>
	</div>
	<div class="workspace">
		
		<div class="panle panle_bottom">
			<span class="skin_btn" title="更换任务栏背景">&nbsp;</span>
			<ul class="taskbar">
				<li title="任务全称" class="current">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
			</ul>
			<div class="switch_workspace">
				<span title="工作区一 Alt+a">&nbsp;</span>
				<span title="工作区二 Alt+b">&nbsp;</span>
				<span title="工作区三 Alt+c">&nbsp;</span>
				<span title="工作区四 Alt+d" class="current">&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			<div class="test_cont">
				工作区四
			</div>
		</div>
	</div>
</body>
</html>
