<!DOCTYPE html>
<html class="demo">
<head>
<title>后台</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin.css" />
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/base.js"></script>
</head>

<body>
	<div class="main_menu">
		<div class="user">
			您好，Administrators!
			<a href="#">退出</a>
		</div>
		<dl>
			<dt><a href="#">菜单名称</a></dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
			<dt><a href="#">菜单名称</a></dt>
			<dd>
				<ul>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
					<li><a href="#">菜单栏目名称</a></li>
				</ul>
			</dd>
		</dl>
		<div class="menu_onff">
			<span>
				.
				<br/>
				.
				</br>
				.
			</span>
		</div>
	</div>
	<div class="workspace">
		<div class="panle panle_top">
			<div class="cur_position">
				<a href="#">首页</a>
				<em class="arrow"></em>
				<a href="#">视频</a>
				<em class="arrow"></em>
				<a href="#">详情</a>
			</div>
		</div>
		<div class="panle panle_bottom">
			<ul class="taskbar">
				<li title="任务全称" style="border-left:none">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称">任务名称<span title="关闭">x</span></li>
				<li title="任务全称" style="border-right:none">任务名称<span title="关闭">x</span></li>
			</ul>
			<div class="switch_workspace">
				<span class="current">&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			这里是页面内容
		</div>
	</div>
	<div class="workspace">
		<div class="panle panle_top">
			顶部面板
		</div>
		<div class="panle panle_bottom">
			<span>底部面板</span>
			<div class="switch_workspace">
				<span>&nbsp;</span>
				<span class="current">&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			这里是页面内容
		</div>
	</div>
	<div class="workspace">
		<div class="panle panle_top">
			顶部面板
		</div>
		<div class="panle panle_bottom">
			<span>底部面板</span>
			<div class="switch_workspace">
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span class="current">&nbsp;</span>
				<span>&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			这里是页面内容
		</div>
	</div>
	<div class="workspace">
		<div class="panle panle_top">
			顶部面板
		</div>
		<div class="panle panle_bottom">
			<span>底部面板</span>
			<div class="switch_workspace">
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span class="current">&nbsp;</span>
			</div>
		</div>
		<div class="main_cont">
			这里是页面内容
		</div>
	</div>
</body>
</html>
