<!DOCTYPE html>
<html class="demo">
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="../static/css/admin/admin.css" />
<link type="text/css" rel="stylesheet" href="../static/css/admin/pop.css" />
<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/public/jplugins/ui/js/jquery-ui.js"></script>
<script type="text/javascript">
$(function(){
	var _pop=$(".pop").eq(0).html();
	$("#open_pop").click(function(){  //open
		if($(".pop").length==0){
			$("<div/>",{
				class:"pop",
				html:_pop
			}).draggable({
				handle:$(this).find(".pop_title"),
				containment:"parent",
				opacity:0.7
			}).appendTo("body");
		}
	})
	
	$(".pop").draggable({  //drag
				handle:$(this).find(".pop_title"),
				containment:"parent",
				opacity:0.7
			 }) 
			 .find(".close").live("click",function(){$(this).parents(".pop").remove()}) //close
})
</script>
</head>
<body>
	<input type="button" id="open_pop" value="open pop">
	<div class="pop">
		<div class="pop_title">
			<h2 class="pop_hd"><span>当前位置:</span><a href="#">首页</a><i class="arrow"></i><a href="#">管理</a><i class="arrow"></i><a href="#">标题</a></h2>
			<span class="pr pop_button">
				<a href="#" class="fullscreen" title="全屏"></a><a href="#" class="min" title="最小化"></a><a href="#" class="max" title="最大化"></a><a href="#" class="close" title="关闭"></a>
			</span>
		</div>
		<div class="pop_cont">
			<div class="pop_cont_t"></div>
			<div class="pop_cont_c">
				<p><input type="button" value="按 钮" class="btn" />
				<input type="text" value="请输入关键字" class="ipt" /></p><br />
				<table class="table">
					<thead>
						<tr>
							<th>标题标题</th>
							<th>标题标题</th>
							<th>标题标题</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
					</tbody>
				</table><br />
				<div class="tag_wrap">
					<div class="tag">
						<a href="#" class="current">选项卡</a><a href="#">切 换</a><a href="#">切 换</a>
					</div>
				</div><br /><br /><br />
			</div>
		</div>
	</div>
</body>
</html>
