<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/admin/pop11.css">
<title>MagicBox -shaman modules page</title>
</head>

<body>
<div class="tr" style="padding:12px">
	<span class="btn_bg"><input id="btn1" type="button" class="btn" value="div打开"></span>
    <span class="btn_bg"><input id="btn2" type="button" class="btn" value="iframe打开"></span>
    <span class="btn_bg"><input id="btn3" type="button" class="btn" value="对话框"></span>
</div>
<div id="cc" style="height:100px; width:100px; background:#09F">
</div>
<div id="html" style="display:none">
	<br><br>
	<p class="input_list"><label for="userName">用户名：</label><input type="text" id="userName" class="ipt">
    	<span class="ipt_tips">请以汉字或英文字母开头！</span></p>
    <p class="input_list"><label>性别：</label><input type="radio" id="male" name="sex" checked="checked"><label for="male">男</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="female" name="sex"><label for="female">女</label></p>
    <p class="input_list"><input type="checkbox" checked="checked"><label>记住登录状态</label></p>
    <p class="input_list input_file"><label for="upLoad">上传文件：</label><input type="file" class="upLoad" id="upLoad">
					<input type="text" class="up_txt"><input type="button" value="上传" class="up_btn"> 
					</p>
    <p class="input_list"><textarea class="textarea"></textarea></p>
</div>
<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/public/jplugins/ui/js/jquery-ui.js"></script>
<script type="text/javascript" src="../static/js/admin/mb_pop.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn1").click(function(){
		mb_pop({title:"DIV形式打开页面",url:"test.html",type:"div",height:200,width:600});
	})
	
	$("#btn2").click(function(){
		mb_pop({title:"IFRAME形式打页面",url:"http://www.baidu.com",type:"iframe",height:500,width:800});
	})
	
	$("#btn3").click(function(){
		var html=$("#html").html();
		mb_pop({data:html,height:400,width:500},function(){
			window.setTimeout(function(){alert("我是回调函数")},1000)
		});	
	})
})
</script>
</body>
</html>
