<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/admin/pop.css"/>
<title>编辑碎片</title>
</head>

<body>
<div class="pieces_wrap">
	<div class="pieces_left">
        <div class="pieces_search">
            <form>
                <table width="100%">
                    <tr>
                        <td align="right" width="24%">栏目：</td>
                        <td>
                            <select>
                                <option>财经要闻</option>
                                <option>研究报告</option>
                                <option>交易提示</option>
                            </select>
                            &nbsp;&nbsp;
                            <select disabled>
                                <option>财经要闻二级1</option>
                                <option>财经要闻二级2</option>
                                <option>财经要闻二级3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">推荐：</td>
                        <td>
                            <input type="radio" name="tj" value="" checked><label>全部</label>&nbsp;&nbsp;
                            <input type="radio" name="tj" value=""><label>推荐</label>&nbsp;&nbsp;
                            <input type="radio" name="tj" value=""><label>不推荐</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">搜索方式：</td>
                        <td>
                            <input type="radio" name="ssfs" value="" checked><label>标题</label>&nbsp;&nbsp;
                            <input type="radio" name="ssfs" value=""><label>简介</label>&nbsp;&nbsp;
                            <input type="radio" name="ssfs" value=""><label>用户名</label>&nbsp;&nbsp;
                            <input type="radio" name="ssfs" value=""><label>ID</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">缩略图：</td>
                        <td>
                            <input type="radio" name="slt" value="" checked><label>全部</label>&nbsp;&nbsp;
                            <input type="radio" name="slt" value=""><label>有图</label>&nbsp;&nbsp;
                            <input type="radio" name="slt" value=""><label>无图</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">关键词：</td>
                        <td>
                            <input type="text" id="" class="ipt">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right"><span class="btn_bg"><input type="submit" class="btn" value="搜 索"></span></td>
                    </tr>
                </table>
            </form>
        </div>
        
        <div class="search_result">
        	<ol>
            	<li>搜索结果1111</li>
                <li>搜索结果2222fdsfsf21 21313213</li>
                <li>搜索结果3333搜索结果3333搜索结果3333搜索结果3333搜索结果3333搜索结果3333搜索结果3333搜索结果3333</li>
                <li>搜索结果444444444</li>
                <li>搜索结果5555555</li>
                <li>搜索结果66666saf afa a 6666</li>
            </ol>
        </div>
    </div>
    <div class="pieces_right">
        <div class="pieces_records">
        </div>
    </div>
</div>
</body>
</html>
