<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>
			碎片示例页面
		</title>
		<link type="text/css" rel="stylesheet" href="../static/css/admin/fragment.css" />
		<link type="text/css" rel="stylesheet" href="../static/css/admin/pop.css" />
		<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/public/jplugins/ui/js/jquery-ui.js"></script>
		<script type="text/javascript" src="../static/js/admin/mb_pop.js"></script>
	</head>

	<body>
		<div style="width:300px;margin:100px auto 0">
			<div class="fragment">
				<div class="fragment_info modified">
					<div class="fragment_remarks">
						编号：0000001</br>
						修改时间：2011-11-11 11:11:11<br/>
						修改人：刘锋<br/>
						超链接：<a href="http://www.google.com.hk">http://www.google.com.hk</a>
					</div>
				</div>
				<ul>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
					<li><a href="http://www.google.com.hk">跳转到Google</a></li>
				</ul>
			</div>
		</div>
        <script type="text/javascript">
		$(function(){
			$(".fragment").click(function(){
				mb_pop({
					title:"编辑碎片",
					type:"div",
					url:"test.html",
					button:{
						disabled:false
					}
				})
			})
		})
		</script>
	</body>
</html>
