<!DOCTYPE HTML>
<html class="login">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>测试登录页</title>
<link rel="stylesheet" href="../static/css/admin/admin.css" type="text/css" media="screen" />
<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/public/jplugins/easing.js"></script>
<script type="text/javascript">
$(function(){
	var perrow=5, //默认显示个数
		cur_page=1,
		tips=$(".tips"),
		runOver=false;
	
	$("#login_btn").click(function(){
		var name=$("#username").val(),
			pwd=$("#password").val();
		$(".channel_box,.movebtn").remove();
		$.ajax({
			url:"channel.php",
			type:"POST",
			data:"name="+name+"&pwd="+pwd,
			dataType:"json",
			beforeSend:function(){tips.text("验证登录信息...")},
			success:function(data){
				if(data[0]){ //登录成功，获取到频道列表
					tips.text("成功登录!");
					$("<div/>",{class:"channel_box"}).appendTo("body");
					$('<div class="movebtn"><span class="prev" title="Prev">&lt;&lt;</span>&lt;&lt;点击左边按钮向前翻 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 点击右边按钮向后翻&gt;&gt;<span class="next" title="Next">&gt;&gt;</span></div>').appendTo("body");
					$.each(data[1],function(i,_item){
						//console.log(i+":"+_item.channel_name);
						$('<a id="a'+i+'" href="'+_item.url+'" class="shortcut-button"><span><img src="../static/img/admin/'+_item.icon+'" height="48" width="48" alt="'+_item.channel_name+'图标"><br>'+_item.channel_name+'</span></a>').appendTo(".channel_box");
					});
					var h=document.documentElement.clientHeight,
						w=document.documentElement.clientWidth,
						Obj=$(".shortcut-button"),
						len=Obj.length,
						pages=Math.ceil(len/perrow),
						aw=Obj.outerWidth(),
						ah=Obj.outerHeight(),
						bh=$(".login-top").outerHeight();
					$.each(Obj,function(i){
						var k=2*i+1,
							_left=k*w/perrow-aw;
						$(this).css({"left":_left/2});
					})
					$("#login-wrapper").animate({paddingTop:[h-147,"easeInQuart"]},500,function(){
						$("#login-form").remove();
						$(".channel_box").css({"display":"block","height":h-147});
						$.each(Obj,function(i){
							$("#a"+i).delay(i*300).animate({top:[(h-ah-147)/2,"easeOutBounce"],opacity:1},800,function(){
								if(i==len-1){
									$(".login-top h1").animate({top:[-60,"easeInBack"]},500,function(){
										$(".rights,.movebtn").fadeIn(1000);
									})
								}
							});
							runOver=true;
						})
					})
				}else{
					tips.text("登录失败!");
				}
			}
		});
		return false; //阻止表单提交
	});
	$(".next").live("click",function(){
		var w=document.documentElement.clientWidth,
			len=$(".shortcut-button").length,
			pages=Math.ceil(len/perrow);
		if(pages!=1 && cur_page!=pages){
			$(".channel_box").stop().animate({marginLeft:[-w*cur_page,"easeOutExpo"]},1000);
			cur_page++;
		}
	})
	$(".prev").live("click",function(){
		var w=document.documentElement.clientWidth;
		if(cur_page!=1)cur_page--;
		$(".channel_box").stop().animate({marginLeft:[-w*(cur_page-1),"easeOutExpo"]},1000);
	})
	$(window).resize(function(e){
		var h=document.documentElement.clientHeight,
			w=document.documentElement.clientWidth,
			Obj=$(".shortcut-button"),
			aw=Obj.outerWidth(),
			ah=Obj.outerHeight();
		if(runOver){
			$("#login-wrapper").css("padding-top",h-147);
			$(".channel_box").css({"height":h-147});
			$(".channel_box").stop().animate({marginLeft:-w*(cur_page-1)},800);
		}
		Obj.css({"top":(h-ah-147)/2});
		$.each(Obj,function(i){
			var k=2*i+1,
				_left=k*w/perrow-aw;
			$(this).css({"left":_left/2});
		})
	})
})
</script>
</head>

<body>
	<div id="login-wrapper">
		<div class="login-top">
			<h1><span title="Magic Box">Magic Box</span></h1>
		</div>
        <div id="login-form" class="login-form">
            <form action="">
                <div class="box">
                    <div class="bg">
                        <p class="t">LOGIN</p>
                        <p class="c">
                            <label for="username">用户名：</label><input type="text" id="username" class="txt" autofocus="true" required placeholder="User ID" />
                        </p>
                        <p class="c">
                            <label for="password">密 码：</label><input type="password" id="password" class="txt" required placeholder="******"/>
                        </p>
                        <p class="c">
                            <label for="password">验证码：</label><input type="text" id="" class="txt" style="width:60px" /><img style="vertical-align:middle; position:relative; top:-2px; left:6px; cursor:pointer" src="http://www.chenchao.cctvcjw.com/api.php?op=checkcode&amp;code_len=4&amp;font_size=20&amp;width=100&amp;height=30&amp;font_color=&amp;background=" onclick="this.src=this.src+&quot;&amp;&quot;+Math.random()" id="code_img">
                        </p>
                        <p class="c">
                            <input id="login_btn" type="submit" value="登 陆" class="btn" />&nbsp;&nbsp;&nbsp;&nbsp;<span class="tips"></span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
	</div>
    <div class="rights">
        Copyright&nbsp;&nbsp;&nbsp;&nbsp;2009-2011&nbsp;&nbsp;&copy; CCTV证券资讯&nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved
    </div>
</body>
</html>
