<!DOCTYPE html>
<html class="demo">
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="../static/css/admin/pop.css" />
</head>
<body>
	<div class="pop">
		<div class="pop_title">
			<h2 class="pop_hd"><span>当前位置:</span><a href="#">首页</a><i class="arrow"></i><a href="#">管理</a><i class="arrow"></i><a href="#">标题</a></h2>
			<span class="pr pop_button">
				<a href="#" class="fullscreen" title="全屏"></a><a href="#" class="min" title="最小化"></a><a href="#" class="max" title="最大化"></a><a href="#" class="close" title="关闭"></a>
			</span>
		</div>
		<div class="pop_cont">
			<div class="pop_cont_c">
					<p class="input_list"><label for="userName">用户名：</label><input type="text" class="ipt" id="userName" />
					<p class="input_list"><label>性别：</label><input type="radio" checked="checked" name="sex" id="male" /><label for="male">男</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" id="female" /><label for="female">女</label></p>
					<p class="input_list"><input type="checkbox" checked="checked" /><label>记住登录状态</label></p>
					<p class="input_list input_file"><label for="upLoad">上传文件：</label><input type="file" id="upLoad" class="upLoad" />
					<input type="text" class="up_txt" /><input type="button" class="up_btn" value="上传图片" /> 
					</p>
					<p class="input_list"><textarea class="textarea"></textarea></p>
				<br />
				<table class="table">
					<thead>
						<tr>
							<th>标题标题</th>
							<th>标题标题</th>
							<th>标题标题</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td><a href="#" class="edit">编辑</a><a href="#" class="revise">修改</a><a href="#" class="delete">删除</a></td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
						<tr>
							<td>内容</td>
							<td>内容</td>
							<td>内容</td>
						</tr>
					</tbody>
				</table><br />
				<div class="tag_wrap">
					<div class="tag">
						<a href="#" class="current">选项卡</a><a href="#">切 换</a><a href="#">切 换</a>
					</div>
				</div><br /><br /><br />
				<div class="page">
					<ul>
						<li><a href="#">上一页</a></li>
						<li><a href="#" class="current">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>...</li>
						<li><a href="#">10</a></li>
						<li><a href="#">下一页</a></li>
						<li><input type="text" class="int" /><input type="submit" class="go" value="GO" /></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="window">
		<span class="win_close">关闭</span>
	</div>
</body>
</html>
