ul.dir_tree, ul.dir_tree ul{
	/*padding-left:24px;*/
	clear:both;
}

ul.dir_tree{
	margin-bottom:20px;
	margin-left:10px
}


ul.dir_tree li{
	position:relative;
	padding-left:24px;
	border-left:1px dotted #000;
}

ul.dir_tree li:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	visibility:hidden
}

ul.dir_tree li.hide > ul{
	display:none
}

ul.dir_tree li.title{
	height:25px;
	width:100%;
	margin-left:-34px;
	padding-left:34px;
	overflow:hidden;
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 1), rgba(223, 223, 223, 1));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,1)),to(rgba(227,223,223,1)));
	border-bottom:1px solid #ccc;
	box-shadow:0 2px 3px #ccc;
	line-height:25px;
	z-index:99;
	border-left:none;
	border-bottom:1px solid #fff;
	font-weight:bold
}

ul.dir_tree li.title a{
	position:relative;
	z-index:19;
	padding:0 5px;
	display:inline-block;
}

ul.dir_tree li.title a.current{
	border:1px solid #fff;
	background:#fff;
	border-radius:3px 3px 0 0;
	box-shadow:0 0 2px #555 inset;
	color:#4668B0
}

#tog_all{
	height:18px;
	position:absolute;
	top:27px;
	left:0;
	background:#fff;
	z-index:10;
	border:none;
	line-height:18px;
	text-indent:-999em
}

#check_all{
	cursor:pointer;
}

ul.dir_tree li.title div.operate{
	top:0;
	border:none
}

ul.dir_tree li.title div.operate:hover{
	background:none
}

ul.dir_tree li div.operate{
	position:absolute;
	top:15px;
	right:0;
	width:95%;
	text-align:right;
	border-bottom:1px solid #eee;
	padding-right:1%;
	z-index:8
}

ul.dir_tree li div.operate:hover{
	background:#eee
}

ul.dir_tree li div.operate span{
	padding:0;
	margin:0;
	border:none;
	float:none;
	display:inline-block;
	min-width:146px;
	text-align:center;
}

ul.dir_tree li div.operate span a{
	display:inline;
	line-height:normal;
	top:0;
	padding:0 5px;
	background:none
}

ul.dir_tree div.operate input[type="checkbox"]{
	vertical-align:middle
}

ul.dir_tree span{
	padding-left:33px;
	margin-left:-24px;
	border-bottom:1px dotted #000;
	float:left;
	position:relative;
	border-left:1px dotted #000;
	left:-1px;
	margin-top:1px;
	[;margin-top:0;]
}

ul.dir_tree span a{
	display:block;
	height:24px;
	line-height:24px;
	white-space:nowrap;
	position:relative;
	top:12px;
	padding-left:3px;
	background:#fff;
	z-index:9;
	padding-right:5px
}

ul.dir_tree span i{
	position:absolute;
	overflow:hidden;
	background-image:url(../../img/admin/dir_icon.png);
	background-repeat:no-repeat;
	background-color:#fff;
	z-index:9
}

ul.dir_tree span i.icon{
	width:16px;
	height:16px;
	left:17px;
	top:17px;
}

ul.dir_tree span i.folder_on{
	background-position:center -20px
}

ul.dir_tree span i.folder_off{
	background-position:center 0
}

ul.dir_tree span i.page{
	background-position:center -40px
}

ul.dir_tree span i.on_off{
	left:-6px;
	top:18px;
	width:11px;
	height:11px;
	cursor:pointer;
}

ul.dir_tree span i.off{
	background-position:-3px -75px
}

ul.dir_tree span i.on{
	background-position:-3px -60px
}
