body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
	padding:0;margin:0;
}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter.header,output,progress,section,time {
	margin:0;padding:0;display:block
}
table {
	border-collapse:collapse;border-spacing:0
}
ol, ul {
	list-style:none outside
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%
}
fieldset, a img {
	border:0 none;
}
a {
	text-decoration:none;outline:none;color:#2f2e2a
}
a:hover{
	text-decoration:underline;color:#c90000
}

em,i {
	font-style:normal
}
input, textarea {
	padding:2px;color:#666666;outline:0 none
}
button, input[type="submit"] {
	cursor:pointer
}
textarea {
	border:1px #CCC solid;resize:none
}
address{
	font-style:normal;
}
body{
	font:12px/1.5 "微软雅黑",'宋体',Helvetica, simsun,sans-serif;/*'Microsoft Yahei','微软雅黑',*/color:#2f2e2a
}
.clearfix:after, .wrap:after{
	content: ".";display:block;height:0;clear:both;visibility:hidden
}
.clear{
	clear:both
}
a:hover{color:#4668B0;text-decoration:none;}

.pop{margin:0 auto;color:#666;width:500px;height:476px;background:#e8e8e8;border:1px solid #666;
	border-radius:3px;box-shadow:0 0 6px #999; position:absolute}

input,label{padding:0;vertical-align:top}
.pop{color:#666;background:#e8e8e8;border:1px solid #666;
	border-radius:3px;box-shadow:0 0 6px #999; position:absolute;top:50%; left:50%; z-index:999999}
.pop_title{height:24px;padding-left:5px;position:relative;padding-top:5px; cursor:move}
.pop_title i.arrow{border-width:4px;border-color:#E8E8E8 #E8E8E8 #E8E8E8 #666;}
.pop_hd{font-family:"宋体";color:#666;display:inline;line-height:18px;font-weight:normal;}
.pop_hd a{color:#666}
	
.pop_title span.pr{position:absolute;right:0;}
.pop_button a{display:inline-block;width:21px;height:19px;background:url(../../img/admin/icon.png) no-repeat;overflow:hidden;margin-right:4px;}
.pop_button a.fullscreen{background-position:-34px -24px}
.pop_button a.nomarlscreen{background-position:-152px -24px}
.pop_button a.min{background-position:-63px -24px}
.pop_button a.max{background-position:-94px -24px}
.pop_button a.close{background-position:-123px -24px}
.pop_button a.fullscreen:hover{background-position:-34px -53px}
.pop_button a.nomarlscreen:hover{background-position:-152px -53px}
.pop_button a.min:hover{background-position:-63px -53px}
.pop_button a.max:hover{background-position:-94px -53px}.pop_button a.close:hover{background-position:-123px -53px}
	
.pop_cont{border:1px solid #a1b4b0;margin:0 5px 5px;}
.pop_cont_t{height:34px;border-bottom:1px solid #a1b4b0;
			background:-webkit-linear-gradient(bottom,#e2e2e2,#f9f9f9);
			background:-moz-linear-gradient(bottom,#e2e2e2,#f9f9f9);
			background:-o-linear-gradient(bottom,#e2e2e2,#f9f9f9);
}
	
.pop_cont_c{padding:10px;background:#fff;height:420px;overflow:auto}


label,input,textarea{vertical-align:middle;}
span.btn_bg{height:27px;display:inline-block;border-radius:6px;box-shadow: inset 0 0 2px 2px rgba(220,220,220,0.9);border-top:1px solid rgba(155,155,155,0.5);padding:2px 3px;}	
span.ipt_tips,span.ipt_error,span.ipt_right{line-height:20px;padding:2px 2px 2px 24px;display:inline-block;background:url(../../img/admin/tips.png)no-repeat;margin-left:15px;}
span.ipt_tips{color:#959595;background-position:0px -116px;}
span.ipt_error{color:red;background-position:0px -65px;display:none;}
span.ipt_right{background-position:0px -177px;display:none; }
input.btn{height:25px;border:0;color:#4668B0;font-weight:bold;font-size:16px;font-family:"微软雅黑";cursor:pointer;text-align:center;padding:0 7px;
		 text-shadow:1px 1px 0px #fff;
		  border-radius:3px;border-top:1px solid rgba(255,255,255,0.5);
		  box-shadow:0 1px 1px 0px rgba(144,144,144,0.9);
		  background:-webkit-linear-gradient(bottom,rgba(220,220,220,0.6),rgba(239,239,239,0.6));
		 background:-moz-linear-gradient(bottom,rgba(220,220,220,0.6),rgba(239,239,239,0.6));
		background:-o-linear-gradient(bottom,rgba(220,220,220,0.6),rgba(239,239,239,0.6));
		background-color:#fff;
		}	
input.ipt{width:165px;height:22px;border:1px solid #a6a6a6;padding-left:3px;color:#ccc;
		 border-radius:5px;
		 box-shadow: inset 1px 2px 3px #ddd;
		 background-color:#fff;
}
.input_list{padding-left:220px;margin-bottom:15px}
.input_list label:first-child{margin-left:-220px;display:inline-block;width:220px;text-align:right;font-size:12px;}	
.input_list label:nth-child(n+2){padding-left:4px;}
.upLoad{width:255px;height:20px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;z-index:3;position:relative;}
.input_file{position:relative;}
.up_txt{width:220px;height:24px;border:1px solid #A6A6A6;position:absolute;left:220px;top:0}
.up_btn{height:26px;border:1px solid #A6A6A6;border-radius:0 3px 3px 0;margin-left:-1px;position:absolute;left:441px;top:0;padding:0 2px;
		  background:-webkit-linear-gradient(bottom,#eaeaea,#f8f8f8);
		  background:-moz-linear-gradient(bottom,#eaeaea,#f8f8f8);
		  background:-o-linear-gradient(bottom,#eaeaea,#f8f8f8);} 
.textarea{height:80px;width:90%;border:1px solid #A6A6A6;font-size:12px;}
	
.table{width:100%;text-align:center}
.table tr{height:29px;background：#fff}
.table td,.table th{border:1px solid #ccc}
.table tr:nth-child(odd){background-color:#fafdff;}
.table tr:nth-child(even){background-color:#ebf6fd;}
.table tbody tr:hover{
	background:#eee;
}
.table th{
	text-align:center;background-color:#fff;
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.75), rgba(223, 223, 223, 0.46));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.75)),to(rgba(227,223,223,0.46)));
}
.edit,.revise,.delete{display:inline-block;padding-left:8px}
.edit,.revise{color:#4668B0;}
.delete,.delete:hover{color:red}
.tag{height:26px;border-bottom:1px solid #A1B4B0;padding-left:3px;}
.tag a{display:inline-block;height:25px;padding:0 9px;line-height:23px;margin:0 3px;}
.tag a.current{display:inline-block;padding:0 8px;border:1px solid #A1B4B0;border-bottoom:none;margin:0 3px;
			 border-radius:3px 3px 0 0;
			 background:-webkit-linear-gradient(bottom,#e2e2e2,#f9f9f9);
			background:-moz-linear-gradient(bottom,#e2e2e2,#f9f9f9);
			background:-o-linear-gradient(bottom,#e2e2e2,#f9f9f9);
}
.tag a:hover{display:inline-block;padding:0 8px;border:1px solid #A1B4B0;border-bottoom:none;margin:0 3px;
		  border-radius:3px 3px 0 0;
		  background:-webkit-linear-gradient(bottom,#e2e2e2,#f9f9f9);
		  background:-moz-linear-gradient(bottom,#e2e2e2,#f9f9f9);
		  background:-o-linear-gradient(bottom,#e2e2e2,#f9f9f9);
	}
.page li{float:left;margin-left:4px;display:inline;}
.page li a{display:block;padding:2px 9px;float:left;border:1px solid #aeaeae;text-align:center;line-height:20px;border-radius:2px;box-shadow:0 1px 2px #afafaf;font-weight:bold;
text-shadow:2px 1px 0px #fff;
		background:-webkit-linear-gradient(bottom,#eaeaea,#f8f8f8);
		  background:-moz-linear-gradient(bottom,#eaeaea,#f8f8f8);
		  background:-o-linear-gradient(bottom,#eaeaea,#f8f8f8);

}
.page li a.current{background:#fff;color:#4668B0}
.page li input.int{height:24px;border:1px solid #aeaeae;width:45px;}
.page li input.go{height:26px;margin-left:-1px;border:1px solid #aeaeae;width:30px;border-radius:0 4px 4px 0;
font-family:"微软雅黑";font-weight:bold;text-shadow:2px 1px 0px #fff;color:#4668B0;
background:-webkit-linear-gradient(bottom,#eaeaea,#f8f8f8);
		  background:-moz-linear-gradient(bottom,#eaeaea,#f8f8f8);
		  background:-o-linear-gradient(bottom,#eaeaea,#f8f8f8);}
		  
		  
		  
.window{width:500px;height:500px;border:5px solid #A0BCF3;margin:20px auto;border-radius:8px;box-shadow:0 2px 13px #999 inset}
.win_close{width:42px;height:25px;border-radius:8px;text-indent:-99px;overflow:hidden;display:inline-block;background:url(../../img/admin/close.png) no-repeat;position:relative;right:0;float:right;top:-5px;z-index:-1;}		  


.add_category{margin:10px auto;width:80%}
.add_category .tag{margin-bottom:20px;}
.add_category .textarea{width:50%;height:50px;}

.pop .input_list label:first-child{width:120px;margin-left:-120px;}
.pop .input_list{padding-left:120px}
.pop .upLoad{width:160px;}
.pop .up_btn{left:282px}
.pop .up_txt{width:160px;left:120px;}
#divmask{width:100%; height:100%;overflow:hidden;background-color:#666; filter:alpha(opacity=30);opacity: 0.3;display:none;z-index:99; position: absolute; top: 0px; left: 0px;}
#pop{margin-top:-238px;margin-left:-250px;display:none;}


/**/
.mask_layer{
	position:absolute;
	top:0;
	left:0;
	z-index:99998;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.5);
}
.perloading{
	background-image:url(../../img/admin/perloading.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.pop_bottom{
	height:24px;
	padding:0 5px 6px;
	text-align:right;
	overflow:hidden;
}
.pop_btn{
	display:inline-block;
	height:22px;
	line-height:22px;
	margin-left:6px;
	padding:0 8px;
	border:1px #777 solid;
	border-radius:4px;
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
}
.pop_btn:hover{
	border-color:#0272c6;
	background:-moz-linear-gradient(top,rgba(64,163,234,1),rgba(64,163,234,0.5));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(64,163,234,1)),to(rgba(64,163,234,0.5)));
	color:#FFF;
}
