body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
	padding:0;margin:0;
}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter.header,output,progress,section,time {
	margin:0;padding:0;display:block
}
table {
	border-collapse:collapse;border-spacing:0
}
ol, ul {
	list-style:none outside
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%
}
fieldset, a img {
	border:0 none;
}
a {
	text-decoration:none;outline:none;color:#2f2e2a
}
a:hover{
	text-decoration:underline;color:#c90000
}

em,i {
	font-style:normal
}
input, textarea {
	padding:2px;color:#666666;outline:0 none
}
button, input[type="submit"] {
	cursor:pointer
}
textarea {
	border:1px #CCC solid;resize:none
}
address{
	font-style:normal;
}
body{
	font:12px/1.5 "微软雅黑",'宋体',Helvetica, simsun,sans-serif;/*'Microsoft Yahei','微软雅黑',*/color:#2f2e2a;background:#f1f1f1;height:100%
}
.clearfix:after, .wrap:after{
	content: ".";display:block;height:0;clear:both;visibility:hidden
}
.clear{
	clear:both
}

html{
	overflow:hidden;
	height:100%
}

header{
	height:60px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#EDEDED));
	background:-moz-linear-gradient(top,#fff,#EDEDED);
	border-bottom:3px solid #417EB7;
	box-shadow:0 2px 3px #bbb;
	position:relative;
}

.logo{
	float:left;
	margin:8px 40px 0 20px;
}

.nav{
	float:left;
	margin-top:28px;
	height:30px;
	text-shadow:2px 2px 2px #ccc;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E6E6E6));
	background:-moz-linear-gradient(top,#fff,#E6E6E6);
	border-style:solid;
	border-width:1px;
	border-color:#dadada #dadada #fff #dadada;
	border-radius:4px 4px 0 0;
	overflow:hidden;
	padding:0 3px;
}

.nav a{
	padding:0 12px;
	height:24px;
	line-height:24px;
	margin-top:4px;
	display:inline-block
}

.nav a.current, .nav a:hover{
	color:#4668B0;
	/*
	 *background: -webkit-gradient(linear, 0 0, 0 100%, from(#417EB7), to(#417EB7));
	 *background:-moz-linear-gradient(top,#417EB7,#417EB7);
	 */
	border-radius:3px;
	box-shadow:0 0 3px #333 inset;
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,.8)),to(rgba(255,255,255,.2)));
	background:-moz-linear-gradient(0 100% 90deg,rgba(255,255,255,.2),rgba(255,255,255,.8));
	text-decoration:none
}

header .tips{
	position:absolute;
	top:0;
	right:10px;
}

.userbar{
	float:right;
	margin-top:38px;
	margin-right:10px;
	overflow:hidden;
}

.userbar a{
	border-left:1px solid #aaa;
	margin-left:1px;
	padding:0 3px 0 6px;
}

.cur_posit{
	border-bottom:1px solid #D6D6D6;
	height:25px;
	line-height:25px;
	padding-left:20px;
}

.cur_posit a{
	display:inline-block
}

i.arrow{
	display:inline-block;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	border-style:solid;
	overflow:hidden;
	position:relative;
}

.cur_posit i.arrow{
	border-width:5px;
	border-color:#F1F1F1 #F1F1F1 #F1F1F1 #333;
	margin:0 2px 0 6px;
	top:1px;
}

.frame{
	margin-left:200px;
	position:relative;
}

.main_menu{
	width:200px;
	position:absolute;
	left:-200px;
	top:0;
	height:100%;
	overflow:auto;
	border-right:1px solid #cfcfcf;
background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.98, rgb(78,141,200)),
    color-stop(1, rgb(65,126,183))
);
background-image: -moz-linear-gradient(
    left center,
    rgb(78,141,200) 98%,
    rgb(65,126,183) 100%
);
	box-shadow:2px 0 3px #aaa;
}

.main_menu dl{
	padding-left:20px;
	height:100%;
	overflow:auto;
	border-right:1px solid #417eb7
}

.main_cont{
	height:100%;
	overflow:auto;
	padding-left:10px
}
