body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
	padding:0;margin:0;
}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter.header,output,progress,section,time {
	margin:0;padding:0;display:block
}
table {
	border-collapse:collapse;border-spacing:0
}
ol, ul {
	list-style:none outside
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%
}
fieldset, a img {
	border:0 none;
}
a {
	text-decoration:none;outline:none;color:#2f2e2a
}
a:hover{
	text-decoration:underline;color:#c90000
}

em,i {
	font-style:normal
}
input, textarea {
	padding:2px;color:#666666;outline:0 none
}
button, input[type="submit"] {
	cursor:pointer
}
textarea {
	border:1px #CCC solid;resize:none
}
address{
	font-style:normal;
}
body{
	font:12px/1.5 "微软雅黑",'宋体',Helvetica, simsun,sans-serif;/*'Microsoft Yahei','微软雅黑',*/color:#2f2e2a;background:#f1f1f1;
}
.clearfix:after, .wrap:after{
	content: ".";display:block;height:0;clear:both;visibility:hidden
}
.clear{
	clear:both
}


