.demo body{
	background:url(../../../static/img/admin/bg00.jpg) repeat center 0
}

/*
 *.demo .main_menu{
 *background-image: -webkit-gradient(
 *    linear,
 *    left top,
 *    right top,
 *    color-stop(0.98, rgb(99,145,236)),
 *    color-stop(0.97, rgba(255,255,255,0.5)),
 *    color-stop(0, rgba(255,255,255,0.3))
 *);
 *background-image: -moz-linear-gradient(
 *    left center,
 *    rgb(99,145,236) 98%,
 *    rgba(255,255,255,0.5) 97%,
 *    rgba(255,255,255,0.3) 0%
 *);
 *}
 */

.demo .menu_onff span{
	background:#6390EC;
	color:#fff
}

.demo .panle_bottom{
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.55), rgba(227, 223, 223, 0.36));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.55)),to(rgba(227,223,223,0.36)));
	border-top-color:#fff
}

.demo .main_menu .user{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb0fa), to(#6390ec));
	background:-moz-linear-gradient(top,#8fb0fa,#6390ec);
}
	
.demo .main_menu dt{color:#4668b0;}

.demo .main_menu .user i.arrow{
	border-color:#fff #759df1 #6893ed #749cf1;
}

.demo .main_menu .user i.show{
	border-color:#fff #7BA2F4 #84A8F7 #7BA2F4;
}


.demo .main_menu dt.show i.icon{
	background-position:-185px 0
}
.demo .main_menu dd li.current, .demo .main_menu dd li:hover{	
background: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb0fa), to(#6390ec));
	background:-moz-linear-gradient(top,#8fb0fa,#6390ec);
}


.demo .main_menu dl{
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.55), rgba(227, 223, 223, 0.36));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.55)),to(rgba(227,223,223,0.36)));

}

/*
 *.demo .nav a.current, .demo .nav a:hover{
 *    background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,.8)),to(rgba(255,255,255,.2)));
 *    background:-moz-linear-gradient(0 100% 90deg,rgba(255,255,255,.2),rgba(255,255,255,.8));
 *}
 */
	
.taskbar li.current{
	border-color:#777;
	box-shadow:inset 0 0 5px #fff;
}
	
.demo .switch_workspace span.current, .demo .switch_workspace span:hover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb0fa), to(#6390ec));
	background:-moz-linear-gradient(top,#8fb0fa,#6390ec);
}	
.skin_box{
	box-shadow:0 0 4px #F93 inset;
}
.skin_box a:hover{
	background:#F93;
	color:#FFF;
}
	
	
