body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
	padding:0;margin:0;
}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter.header,output,progress,section,time {
	margin:0;padding:0;display:block
}
table {
	border-collapse:collapse;border-spacing:0
}
ol, ul {
	list-style:none outside
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%
}
fieldset, a img {
	border:0 none;
}
a {
	text-decoration:none;outline:none;color:#2f2e2a
}
a:hover{
	text-decoration:underline;color:#c90000
}

em,i {
	font-style:normal
}
input, textarea {
	padding:2px;color:#666666;outline:0 none
}
button, input[type="submit"] {
	cursor:pointer
}
textarea {
	border:1px #CCC solid;resize:none
}
address{
	font-style:normal;
}
body{
	font:12px/1.5 "微软雅黑",'宋体',Helvetica, simsun,sans-serif;/*'Microsoft Yahei','微软雅黑',*/color:#2f2e2a
}
.clearfix:after, .wrap:after{
	content: ".";display:block;height:0;clear:both;visibility:hidden
}
.clear{
	clear:both
}


/*
 *demo page css start
 */

.demo{
	height:100%;
	overflow:hidden
}

.demo body{
	height:100%;
	color:#fff;
}

.demo .main_menu{
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:100%;
	box-shadow:1px 2px 4px #a9a9a9;
	z-index:99;
	height:100%;
	border-right:1px solid #e8e8e8;
	background:#fff
}

.demo .logo{
	height:30px;
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.55), rgba(227, 223, 223, 0.36));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.55)),to(rgba(227,223,223,0.36)));
	width:194px;
	font-size:20px;
	color:#333;
	text-shadow:1px 1px 2px #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ccc;
}

.demo .logo img{
	float:left;
	margin-right:5px;
	margin-left:3px
}

.demo .logo span{
	float:left;
	height:30px;
	line-height:30px
}

.demo .userbar{
	position:absolute;
	right:41px;
	top:0;
	z-index:9999;
	border-right:1px dotted #aaa;
	padding-right:7px;
}

.demo .userbar span{
	font-weight:bold;
	color:#333
}

.demo .userbar a{
	padding-left:17px;
	background-image:url(../../img/admin/icon.png);
	background-repeat:no-repeat;
	color:#000;
	margin-right:5px
}

.demo .userbar a.admin{
	background-position:-224px bottom
}

.demo .userbar a.sys{
	background-position:-227px -113px
}

.demo .userbar a.hmsg{
	background-position:0 -82px
}

.demo .userbar a.nmsg{
	background-position:0 -113px
}

.demo .userbar a.channel{
	background-position:-224px -83px
}

.demo .userbar a.quit{
	background-position:0 -144px
}

.demo .main_menu dl{
	overflow:auto;
	margin-right:5px;
}

.demo .main_menu dt{
	font-size:14px;
	padding:5px 0;
	padding-left:2em;
	position:relative;
	border-width:1px;
	border-style:solid none;
	border-color:#fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E3DFDF));
	background:-moz-linear-gradient(top,#fff,#E3DFDF);
	margin-bottom:3px;
	box-shadow:0 2px 4px #ccc;
	font-weight:bold;
	white-space:nowrap;
	cursor:pointer;
	text-shadow:1px 1px 2px #ccc;
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.55), rgba(227, 223, 223, 0.36));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.55)),to(rgba(227,223,223,0.36)));

}

.demo .main_menu i.icon{
	position:absolute;
	width:12px;
	height:12px;
	left:11px;
	top:10px;
	background-image:url(../../img/admin/icon.png);
	background-repeat:no-repeat;
	background-position:-170px 0
}


.demo .main_menu dd li{
	margin-left:2em;
	height:25px;
	line-height:25px;
	padding-right:10px;
	padding-left:1.5em;
	border-radius:3px 0 0 3px;
	margin-bottom:5px;
}

.demo .main_menu dd li.current, .demo .main_menu dd li:hover{
	border-radius:3px 0 0 3px;
	box-shadow:0 2px 2px #ccc;
	margin-top:-2px;
	border-width:1px;
	border-style:solid none solid solid;
	border-color:#fff
}

.demo .main_menu dd li.current a, .demo .main_menu dd li:hover a{
	color:#fff
}

.demo .main_menu dd{
	display:none;
}


.demo .main_menu dd.show{
	display:block
}

.demo .main_menu dd a{
	color:#000;
	white-space:nowrap;
	display:block
}

.demo .main_menu a:hover{
	text-decoration:none
}

.demo .menu_onff{
	position:absolute;
	right:0;
	top:50%;
	height:63px
}

.demo .menu_onff span{
	margin-top:-35px;
	display:block;
	cursor:pointer;
	font-weight:bold;
	font-size:14px;
	text-align:right;
	width:5px;
	padding-bottom:7px;
	border-style:solid none;
	border-color:#fff;
	border-width:2px;
}

.demo .workspace{
	position:relative;
	height:100%;
	margin-left:200px;
}

.demo .panle{
	position:absolute;
	left:0;
	width:100%;
	height:30px;
	line-height:30px;
}

.demo .panle_top{
	top:0;
	box-shadow:3px 2px 3px #aaa;
	border-top:1px solid #eee;
	z-index:999;
	border-left:1px solid #eee;
	border-bottom:1px solid #fff;
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.75), rgba(223, 223, 223, 0.46));
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.75)),to(rgba(227,223,223,0.46)));
	-moz-transition:top 0.1s ease-in;
	-webkit-transition:top 0.1s ease-in;
}

.demo .nav{
	padding-left:10px
}

.demo .nav a{
	font-size:13px;
	color:#000;
	padding:0 10px;
	display:inline-block;
	height:30px;
}

.demo .nav a:hover{
	text-decoration:none;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	text-shadow:2px 2px 3px #aaa
}

.demo .nav a.current{
	color:#4668B0
}

.demo .panle_bottom{
	bottom:0;
	z-index:999;
	border-top:1px solid #999;
	border-bottom:1px solid #ddd;
}

.demo .cur_position{
	border-left:1px solid #eee;
	height:30px;
	padding-left:10px;
	position:relative;
	z-index:999;
	border-bottom:1px solid #fff;
	color:#333;
	font-size:13px;
}

.demo .cur_position span{
	padding-left:20px;
	background:url(../../../static/img/admin/icon.png) no-repeat -223px 8px;
	height:24px;
	display:inline-block
}

.demo .cur_position i.arrow{
	width:6px;
	height:11px;
	background:url(../../img/admin/icon.png) no-repeat -182px -2px;
	border:none
}

.demo i.arrow{
	display:inline-block;
	font-size:0;
	line-height:0;
	border-style:solid;
	margin-left:4px;
}



.demo .switch_workspace{
	position:absolute;
	right:5px;
	top:0;
	padding:5px 0 0 10px;
	border-left:1px dotted #fff
}

.demo .switch_workspace span{
	display:inline-block;
	width:28px;
	height:18px;
	cursor:pointer;
	border-radius:3px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E3DFDF));
	background:-moz-linear-gradient(top,#fff,#E3DFDF);
	border:1px solid #BCBCBC
}

.demo .switch_workspace span:hover{
	background:#F49B9B;
}

.demo .switch_workspace span.current, .demo .switch_workspace span:hover{
	opacity:0.8;
	border-color:#fff
}

.demo .panle_bottom span.skin_btn{
	position:absolute;
	right:11px;
	top:6px;
	background:url(../../img/admin/icon.png) no-repeat -200px 0;
	overflow:hidden;
	width:18px;
	height:18px;
	cursor:pointer;
	z-index:9999
}

.demo .taskbar{
	height:28px;
	margin-left:40px;
	border-left:1px dotted #fff;
	padding-left:10px
}

.demo .taskbar li{
	float:left;
	height:25px;
	line-height:25px;
	padding:0 18px 0px 8px;
	position:relative;
	cursor:default;
	border-radius:3px;
	margin-right:3px;
	border:1px solid #fff;
	background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,.7)),to(rgba(255,255,255,.15)));
	background:-moz-linear-gradient(0 100% 90deg,rgba(255,255,255,.15),rgba(255,255,255,.7));
	color:#000;
	box-shadow:inset 0 0 3px #333;
	margin-top:1px
}

.demo .taskbar li span{
	position:absolute;
	right:3px;
	top:0;
	width:10px;
	height:30px;
	cursor:pointer;
	font-weight:bold;
}

.demo .taskbar span:hover{
	color:#f00
}

.demo .workspace .main_cont{
	color:#000;
	padding-left:3px;
	position:relative;
	top:35px
}


/*
 *demo page css end
 */


/*--ui css--*/
.main_cont iframe{
	border:none;
	height:100%;
	width:100%;
	background:#fff
}
.taskbar li{
	opacity:0.6;
}
.taskbar li.current,.taskbar li:hover{
	opacity:1;
}
.skin_box{
	background:#FFF;
	display:none;
	width:33px;
	padding:4px;
	position:absolute;
	bottom:32px;
	right:-43px;
	opacity:0.9;
}
.skin_box a{
	display:block;
}
/*--end--*/
